@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.modal {
    position: fixed;
    width: 90%;
    height: 60vh;
    padding: 67px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    top: calc(20%);
    left: 5%;
    text-align: center;
}

.d-none {
    display: none;
}

.modal h1 {
    color: #731717;
    font-family: 'Open Sans', sans-serif;
}

.modal button {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 314px;
    height: 64px;
    margin: 60px auto -45px auto;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.modal button:nth-child(3) {
    background-color: #117BBC;
    color: white;
}

.modal button:nth-child(4) {
    border: 1px solid #731717;
    background-color: white;
    color: #731717;
}

.black-filter {
    filter: contrast(0);
    background-color: rgba(0, 0, 0, 0.598);
}

@media (max-width: 360px) {
    .modal {
        height: 90vh;
        top: 5%;
    }
}